body {
  padding: 30px;
  font: 16px "Times New Roman", Times, serif;
  background-color: rgb(248, 250, 253);
}

button,
input[type="submit"],
input[type="file"] {
  font-weight: bold;
  font-size: large;
  padding: 10px;
  max-width: 20vw;
}

/* Index Page */
#formsContainer {
  display: flex;
  justify-content: space-around;
}

#signupForm,
#loginForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  justify-content: center;
  border: 2px solid black;
}

/* Uploader Page */
#loggedInButtons {
  display: flex;
  justify-content: space-between;
}

.divFormContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid lightgray;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  gap: 10px;
  padding-left: 15px;
}

#selectedFile::file-selector-button {
  padding: 10px;
}

.folderBlock {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  border: solid 1px gray;
  background-color: white;
}

.folderNavForm {
  flex: 1 1 auto;
  max-width: 33vw;
}

.folderButton {
  font-size: large;
  padding: 15px;
  width: 100%;
  max-width: 33vw;
}

.sharedLink a {
  display: inline-block;
  max-width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.errorMessage {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  background-color: lightpink;
}

.folderContent {
  margin-left: 20px;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid;
}

.folderDetails {
  display: flex;
  gap: 20px;
  margin: 5px;
  align-items: center;
}

.editForm {
  display: none;
  align-items: center;
}

.editForm.active {
  display: flex;
}

.submitButton {
  font-weight: bold;
  padding: 5px;
  max-width: 20vw;
}

.iconButton {
  width: 5vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.backLink {
  font-weight: bold;
  font-size: x-large;
  border: solid 1px black;
  border-radius: 1em;
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(100, 100, 100);
  background-color: rgb(239, 239, 239);
}

.backLink:active {
  background-color: rgb(239, 239, 239);
  color: rgb(100, 100, 100);
}

.backLink:hover {
  color: black;
  background-color: rgb(200, 200, 200);
}

#buttonContainer {
  margin: 0px;
  display: inline-flex;
  align-items: center;
}

.divFileContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  gap: 10px;
  padding-left: 15px;
  background-color: white;
}
.upperFileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloadForm {
  display: inline-flex;
}

.fileDetailName {
  font-size: larger;
}
/* File Page CSS */
#fileBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cornsilk;
}

#fileBody .backLink {
  align-self: flex-start;
}

li {
  list-style-type: circle;
  font-size: x-large;
}

.fileViewDownload {
  font-size: x-large;
  padding: 10px 20px;
  cursor: pointer;
}

.fileViewDownload:active {
  background-color: rgb(239, 239, 239);
}

.fileViewDownload:hover {
  background-color: rgb(200, 200, 200);
  border: 1px solid black;
}

/* Footer */
footer {
  text-align: center;
}
