body {
  padding: 30px;
  font: 16px "Times New Roman", Times, serif;
}

button,
input[type="submit"] {
  font-weight: bold;
  padding: 5px;
  width: 20vw;
}

/* Uploader CSS */
.folderBlock {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  border: solid 1px gray;
}

.folderLink {
}

.folderContent {
  margin-left: 20px;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid;
}

.folderDetails {
  display: flex;
  gap: 20px;
  margin: 5px;
  align-items: center;
}
