body {
  padding: 30px;
  font: 16px "Times New Roman", Times, serif;
}

button,
input[type="submit"] {
  font-weight: bold;
  padding: 5px;
  max-width: 20vw;
}

/* Uploader CSS */
.folderBlock {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  border: solid 1px gray;
}

.folderLink {
}

.sharedLink a {
  display: inline-block;
  max-width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.errorMessage {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  background-color: lightpink;
}

.folderContent {
  margin-left: 20px;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid;
}

.folderDetails {
  display: flex;
  gap: 20px;
  margin: 5px;
  align-items: center;
}

.editForm {
  display: none;
  align-items: center;
}

.editForm.active {
  display: flex;
  margin-right: -5vw;
}

.submitButton {
  font-weight: bold;
  padding: 5px;
  max-width: 20vw;
}

.iconButton {
  width: 5vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.iconButton svg {
}
