<!-- footer.ejs -->
<footer>
  <ul>
    <p>
      Website made by
      <a href="https://www.linkedin.com/in/George-Gabechava/"
        >George Gabechava.</a
      >
    </p>
    <p>
      <a href="https://github.com/George-Gabechava/TOP-File-Uploader"
        >Github Source Code</a
      >
    </p>
    <p>
      Hosted by <a href="https://railway.com/">Railway.</a> Powered with
      <a href="https://supabase.com/">Supabase.</a>
    </p>
  </ul>
</footer>
